.Box {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 1.2rem);
  display: flex;
  margin: 1rem 0;
  position: relative;
  background: #fdfdfd;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  transition: 0.1s all linear;
}

.Box:hover {
  -webkit-box-shadow: 0px 2px 42px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 42px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 42px 3px rgba(0, 0, 0, 0.75);
  transform: translateY(-7px);
}
.Image {
  display: flex;
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.Content {
  font-size: 0.8rem;
  padding: 0 0.6rem;
  color: #513b41;
  align-self: flex-start;
}

.Ready {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #f83839;
  display: flex;
  color: rgb(240, 240, 240);
  align-items: center;
  justify-content: center;
  font-size: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.Details {
  position: absolute;
  right: 5px;
  bottom: 4px;
  border: 1px solid #513b41;
  padding: 0rem 0.4rem;
  border-radius: 2px;
  text-decoration: none;
  font-size: 0.7rem;
  color: #513b41;
  transition: 0.2s all linear;
}

.Details:hover {
  border: 1px solid #f83839;
  color: #f83839;
}

@media (max-width: 768px) {
  .Box {
    flex-direction: column;
    flex: 0 0 100%;
  }

  .Image {
    width: 100%;
  }

  .Content {
    padding: 0.6rem;
  }
}

@media (min-width: 588px) and (max-width: 1024px) {
  .Box {
    flex: 0 0 calc(50% - 1rem);
  }
  .Content {
    font-size: 0.6rem;
  }
}
