@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #c8f4f9;
  font-family: 'Montserrat', sans-serif;
}

.wrap {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.center {
  width: 70vw;
  margin: 0 auto;
}

.recipe-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .center {
    max-width: 80vw;
  }
}
